.containerblack{
    background-color: #000000;
}
.logo-startup{
    width: 60px;
    height: 60px;
}

.text-dropdown {
    color: #000000;
    background-color: #FFFFFF;
}

.text-dropdown:hover {
    color: #FFFFFF;
    background-color: #000000;    
}

.text {
    color: #FFFFFF !important; 
    
}  

.text:hover {
    color: #ffffff; 
    border-bottom: 1px solid;
}
