.containerblack{
    background-color: #2e2e2d;
}
.logo-startup{
    width: 60px;
    height: 60px;
}

.text-dropdown {
    color: #000000;
    background-color: #FFFFFF;  
}

.text-dropdown:hover {
    color: #FFFFFF;
    background-color: #0F6FE4;   
}

.text {
    color: #FFFFFF; 
}  