.main-container {
    background-color: #0F6CDE;
} 

.main-container h1 {
    margin: 0;
    padding: 40px;
    font-size: 90px;
    font-family: 'Arial';
    letter-spacing: -.01em;
    font-weight: 900;
    color: #DCDBDB; 
    text-transform: uppercase; 
}