#container {
    background-color: #0F6FE4;
     
}

#container-navbar img {
    width: 60px;
    height: 60px;
}

#text-dropdown {
    color: #000000; 
}

#text-dropdown:hover {
    background-color: #0F6FE4; 
}

#text {
    color: #FFFFFF; 
}  