#container {
    background-color: rgb(15, 108, 222);
} 

#container h1 { 
    margin: 0;
    padding: 60px; 
    font-size: 90px;
    font-family: 'Arial';
    font-weight: 900;
    letter-spacing: 0em;
    line-height: 1.0em;  
    color: rgb(234, 230, 221);
    text-transform: uppercase;
    text-align: left;
} 