.mainContainer {
  background-color: #eae6dd;
  /* padding: 160px; */
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.titulo{
  font-family: "Arial";
  font-size: 70px;
  font-weight: bold;
  color: #0F6CDE;
  text-align: center;
}

.imagen {
  display: block;
  margin: auto;
}
